/* Mise en forme globale*/
body{
    padding: 0px;
    margin: 0px;
    font-family:Lato, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.setwidth{
    width: 90%;/*modivifié*/
    margin: 0px auto;
}

h2{
    font-size: clamp(0.75rem, 1.5vw, 2rem); /*modivifié*/
    color: rgb(25, 211, 211);
    font-weight: bold;
    text-align: center;
    padding-top: 3%;  /*A modifier,,,,,,,,,,,,,,,,,,,,*/
}



/* Mise en forme du header*/
header{
    background-color: rgb(0, 4, 22);
    height: clamp(5rem, 10vw, 15rem);/*modivifié*/
    width: 100%;
   
}

.span{
    float: left;
    font-size: clamp(0.5rem, 1.5vw, 2rem);/*modivifié*/
    font-weight: bold;
    color: white;
    margin-top: clamp(2rem, 4vw, 7rem);/*modivifié*/
}
span{
    color: rgb(25, 211, 211);
}


nav li {
    font-size: clamp(0.5rem, 1.3vw, 2rem);/*modivifié*/
    float: right;
    margin-left: clamp(0.5rem, 2vw, 4rem);/*modivifié*/
                                            /*suprimé*/
    margin-top: clamp(2rem, 4.5vw, 7rem);/*modivifié*/
    list-style: none;
}

nav li a:hover{
    color: aqua;
}



/*Mise en forme section1*/
#section1{
    height: clamp(10rem, 40vw, 60rem);/*modivifié*/
}
.divtext1{
    width: 58%;
    font-size: clamp(0.5rem, 2vw, 3rem);/*modivifié*/
    font-weight: bold;
    text-align: center;
    margin-top: clamp(5rem, 10vw, 15rem);/*modivifié*/
    float: left;
}
.image1{
    width: 30%;
    float: right;
    margin-right: clamp(3rem, 6vw, 9rem);/*modivifié*/
}
.image1 img{
    width: 100%;
    margin-top: clamp(4rem, 8vw, 12rem);/*modivifié*/
}

.button{
    background-color: rgb(25, 211, 211);
    width: 25%;/*modivifié*/
    margin: 0px auto;
    height: clamp(0.5rem, 2vw, 3.5rem);/*modivifié*/
    margin-top: clamp(2rem, 4.5vw, 7rem);/*modivifié*/
    padding: clamp(0.5rem, 0.75vw, 1rem);/*modivifié*/
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: clamp(0.3rem, 1.3vw, 2rem);/*modivifié*/
}


/*Mise en forme section2*/
#section2{
    height: clamp(15rem, 40vw, 60rem);/*modivifié*/
    background-color: #eee;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.divtext2{
    width: 50%;
    font-size: clamp(0.6rem, 1.2vw, 2rem);/*modivifié*/
    text-align:left;
    margin-top: clamp(0.6rem, 3vw, 5rem);/*modivifié*/
    float: left;
}
.image2{
    width: 22%;
    float: right;
    margin-right: clamp(3rem, 6vw, 9rem);/*modivifié*/
}
.image2 img{
    width: 100%;
    margin-top: clamp(2rem, 4vw, 6rem);/*modivifié*/
    border-radius: 50%;
    border: 4px solid  rgb(25, 211, 211);
}
.button2{
    background-color: rgb(25, 211, 211);
    width: 35%;/*modivifié*/
    height: clamp(0.5rem, 2vw, 3.5rem);/*modivifié*/
    margin-top: clamp(0.5rem, 1.5vw, 2rem);/*modivifié*/
    padding: clamp(0.5rem, 1vw,  1.25rem);/*modivifié*/
    color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: clamp(0.4rem, 1.2vw, 2rem);/*modivifié*/
}


/*Mise en forme section3*/
#section3{
    height: clamp(15rem, 30vw, 45rem);/*modivifié*/
}
.divtext3{
    width: 30%;
    height: clamp(10rem, 15vw, 20rem);/*modivifié*/
    border-radius: 15px;
    font-size: clamp(0.6rem, 1.2vw, 2rem);/*modivifié*/
    text-align:center;
    margin: clamp(0.4rem, 1vw, 1.5rem);/*modivifié*/
    float: left;
    background-color: #eee;
}

.divtext3 p{
    padding: 10px;
}




/* Mise en forme section4 */
#section4{
    background-color: #eee;
    height: clamp(20rem, 40vw, 60rem);/*modivifié*/
}
.divprogress{
    width: 35%;
    height: clamp(10rem, 20vw, 30rem);/*modivifié*/
    border-radius: 10px;
    font-size: clamp(0.6rem, 0.8vw, 2rem);/*modivifié*/
    text-align:left;
    margin: clamp(0.4rem, 6vw, 9rem);/*modivifié*/
    float: left;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(109, 102, 102);
}

.divprogress progress{
    width: 80%;
    margin-left: clamp(1rem, 3vw, 6rem);/*modivifié*/
    height: clamp(0.5rem, 1.5vw, 2rem);/*modivifié*/
}

.divprogress p{
    margin-left: clamp(1rem, 3vw, 6rem);/*modivifié*/
    margin-bottom: 0px;
}

.divprogress h3{
    text-align: center;
    margin: clamp(0.4rem, 1.2vw, 2rem);/*modivifié*/
}



/* sectin5 formulaire*/

#section5{
    background-color: rgb(0, 4, 22);
    height: clamp(40rem, 50vw, 65rem);/*modivifié*/
    justify-content: center;
    
}

.deuxp{
    padding-top: clamp(0.5rem, 5vw, 7rem);/*modivifié*/
    padding-bottom: clamp(0.5rem, 3vw, 4rem);/*modivifié*/
    text-align: center;
    font-size: clamp(0.5rem, 2.2vw, 3rem);/*modivifié*/
    color: #fff;
    font-weight: bold;
    line-height: 3px;
}

#myForm {
    max-width: 45%;
    margin: auto;
    color: #fff;
}

.row {
    display: flex;
    gap: 10px;
}

.row div {
    flex: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(0.7rem, 1vw, 1.3rem);/*modivifié*/
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    margin-top: 10px;
}


button {
    background-color: rgb(25, 211, 211);
    width: 25%;/*modivifié*/
    height: clamp(1rem, 2vw, 3.5rem);/*modivifié*/
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: clamp(0.3rem, 1.3vw, 2rem);/*modivifié*/
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background: darkblue;
}


/* mise en forme du footer*/
footer{
    height: clamp(5rem, 8vw, 12rem);/*modivifié*/
    font-size: clamp(0.6rem, 1vw, 1.3rem);/*modivifié*/
    font-style: italic;
}

.h3_1{
    float: left;
    padding-top: 25px;
    
}
.h3_2{
    float: right;
    padding-top: 25px;
}



#myForm {
    max-width: 45%;
    margin: auto;
    color: #fff;
}

.row {
    display: flex;
    gap: 10px;
}

.row div {
    flex: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    margin-top: 10px;
}




